.showcase{
  background: url("/showcase-mobile.jpg") no-repeat center/cover;
  height:600px;
}
.showcase .overlay{
  background-color: hsla(29,100%,25%,0.33);
  height:600px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .showcase{
    background: url("/showcase.jpg") no-repeat center/cover;
    

  }
}

.btn {
  @apply bg-yellow-600 text-white p-3 shadow-lg border-2 
  border-yellow-600 hover:bg-transparent hover:text-yellow-600
  transition-all duration-300 ;
}